/* Variables */


/* 1 rem = 10px con la configuracion anterior OJO: rem se adapta mejor en diseños responsivos*/

:root {
    --azulFondo: #33a0e4;
    --blanco: #ffffffe6;
    --gris: #000000;
    --amarillo: #f0d02e;
    --obscuro: #d0cece;
    --oscuro: #2e2e2e;
}


/* GLOBALES  Y USAR HTML Y LA PROPIEDAD SIGUIENTE*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(207, 207, 207, 1) 67%, rgba(220, 220, 220, 1) 85%, rgba(230, 230, 230, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(47%, rgba(237, 237, 237, 1)), color-stop(67%, rgba(207, 207, 207, 1)), color-stop(85%, rgba(220, 220, 220, 1)), color-stop(100%, rgba(230, 230, 230, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(207, 207, 207, 1) 67%, rgba(220, 220, 220, 1) 85%, rgba(230, 230, 230, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(207, 207, 207, 1) 67%, rgba(220, 220, 220, 1) 85%, rgba(230, 230, 230, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(207, 207, 207, 1) 67%, rgba(220, 220, 220, 1) 85%, rgba(230, 230, 230, 1) 100%);
    background: linear-gradient(135deg, rgba(247, 247, 247, 1) 0%, rgba(237, 237, 237, 1) 47%, rgba(207, 207, 207, 1) 67%, rgba(220, 220, 220, 1) 85%, rgba(230, 230, 230, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=1);
}

.boton {
    background-color: var(--azulFondo);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem 2rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lucida Sans';
    margin-top: 2rem;
    border: none;
    transition: background-color .5s ease;
    transition: font-size .5s ease;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    background-color: var(--amarillo);
    color: var(--gris);
    font-size: 1.8rem;
    cursor: pointer;
}

.w-sm-100 {
    width: 100%;
}

.mt-5rem {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear {
    justify-content: flex-end;
}

.sombra {
    -webkit-box-shadow: 25px 25px 40px 16px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 25px 25px 40px 16px rgba(0, 0, 0, 0.67);
    box-shadow: 25px 25px 40px 16px rgba(0, 0, 0, 0.67);
    background-color: var(--blanco);
    padding: 3rem;
    margin-bottom: 3rem;
}


/* TIPOGRAFIAS */

h1 {
    font-size: 4rem;
    font-family: 'Lucida Sans';
    color: var(--gris);
    margin: .5rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Lucida Sans';
}

h3 {
    font-size: 2rem;
    font-family: 'Lucida Sans';
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Lucida Sans';
}

.titulo span {
    font-size: 2rem;
    font-style: oblique;
    color: var(--gris);
}

.nav-bg {
    background-color: var(--azulFondo);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contenedor {
    max-width: 120rem;
    margin: 0rem auto;
}

.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Lucida Sans';
    font-weight: bold;
    transition: background-color .5s ease;
    transition: font-size .5s ease;
}

.navegacion-principal a:hover {
    background-color: var(--amarillo);
    color: black;
    text-decoration: none;
    font-style: bold;
    font-size: 2.5rem;
}

.img {
    background-image: url("https://midu.dev/images/wallpapers/web-technologies-4k-wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45rem;
    position: relative;
}

.contenido-img {
    position: absolute;
    background-color: rgb(0 0 0 / 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-img h2,
.contenido-img p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

.servicios .iconos {
    background-color: var(--amarillo);
    padding: 1rem 1rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 3rem;
}

.servicios h3 {
    color: var(--azulFondo);
    margin: 1.5rem;
    font-weight: normal;
}

.servicios p {
    line-height: 1.5;
    font-size: 2rem;
    margin: 1rem;
    text-align: justify;
}

.formulario {
    background-color: var(--oscuro);
    width: min(60rem, 100%);
    color: var(--amarillo);
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.campos label {
    color: var(--blanco);
    margin-bottom: 1rem;
    font-weight: bold;
    display: block;
}

.input-text {
    color: var(--gris);
    background-color: var(--blanco);
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.contenedor-formulario {
    display: block;
}

@media (min-width: 768px) {
    .contenedor-formulario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
}

.campos:nth-child(3),
.campos:nth-child(4) {
    grid-column: 1 / 3;
}

.campos textarea {
    height: 20rem;
}

footer {
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
}

section span {
    text-transform: uppercase;
}